@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

html {
  --font-locale: var(--font-google-sans-code);
}

html[lang="en-US"] {
  --font-locale: var(--font-noto-sans);
}

html[lang="zh-CN"] {
  --font-locale: var(--font-noto-sans-sc);
}

@theme inline {
  --font-app: var(--font-locale);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  .tide-dynamic-hidden {
    @apply hidden!;
  }
  .tide-dynamic-cursor-zoom-in {
    @apply cursor-zoom-in!;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply mx-auto w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}

@utility ht-* {
  height: --value([number]);
  height: --value(number);
  height: --value(--height-*);
}
@utility ht-auto {
  height: auto;
}
@utility ht-full {
  height: 100%;
}
@utility ht-screen {
  height: 100vw;
}
@utility ht-svh {
  height: 100svh;
}
@utility ht-dvh {
  height: 100dvh;
}
@utility ht-lvh {
  height: 100lvh;
}
@utility ht-fit {
  height: fit-content;
}
@utility ht-min {
  height: min-content;
}
@utility ht-max {
  height: max-content;
}

@utility height-do-not-use {
  width: 100vw !important;
  height: 100vh !important;
  background: red !important;
}
@utility h-* {
  @apply height-do-not-use;
}
@utility h-auto {
  @apply height-do-not-use;
}
@utility h-full {
  @apply height-do-not-use;
}
@utility h-screen {
  @apply height-do-not-use;
}
@utility h-svh {
  @apply height-do-not-use;
}
@utility h-dvh {
  @apply height-do-not-use;
}
@utility h-lvh {
  @apply height-do-not-use;
}
@utility h-fit {
  @apply height-do-not-use;
}
@utility h-min {
  @apply height-do-not-use;
}
@utility h-max {
  @apply height-do-not-use;
}

@utility size-full {
  @apply ht-full w-full;
}

html[lang="zh-CN"] #article p,
html[lang="zh-CN"] #about p {
  @apply indent-8;
}

@layer components {
  .tide-button-link {
    @apply border-0 bg-transparent text-foreground underline hover:scale-none hover:underline-offset-4 active:scale-none disabled:hover:underline-offset-auto;
  }

  .tide-image-figure {
    @apply relative;
  }

  .tide-image-figure-block {
    @apply mx-auto my-0 max-w-1/2;
  }

  .tide-image-figure-inline {
    @apply inline-block;
  }

  .tide-image-figure-block .tide-image-figure-caption {
    @apply mx-auto mt-1 ht-5 max-w-4/5 text-center text-muted;
  }

  .tide-image-figure-inline .tide-image-figure-caption,
  .tide-image-masonry .tide-image-figure-caption {
    @apply sr-only;
  }

  .tide-image-block {
    @apply block w-full max-w-full;
  }

  .tide-image-inline {
    @apply inline align-baseline;
  }

  .tide-image-figure-block .tide-image-mask {
    /* @apply absolute z-10 size-full text-center backdrop-blur-3xl backdrop-brightness-50; */
    @apply absolute z-10 ht-[calc(100%-var(--spacing)*6)] w-full text-center backdrop-blur-3xl backdrop-brightness-50;
  }

  .tide-image-figure-inline .tide-image-mask,
  .tide-image-masonry .tide-image-mask {
    @apply absolute z-10 size-full text-center backdrop-blur-3xl backdrop-brightness-50;
  }

  /* .tide-image-mask:has(+ img:not([data-mask])),
    .tide-image-mask:has(+ img[data-revealed]),
    .tide-image-mask:has(+ picture img:not([data-mask])),
    .tide-image-mask:has(+ picture img[data-revealed]) {
        @apply invisible;
    } */

  .tide-image-mask-control {
    @apply absolute start-1/2 top-1/2 max-h-full w-full -translate-1/2 overflow-auto p-4 text-white;
  }

  .tide-image-mask-title {
    @apply mb-4 overflow-hidden;
  }

  .tide-button-reveal {
    /* 需要 text-white 。 */
    @apply mx-auto text-white;
  }

  .tide-image-masonry {
    @apply mx-auto max-w-full;
  }

  .tide-image-masonry-item {
    @apply mb-[8px] w-full max-w-full md:mb-0;
  }

  .pswp__image-caption-container {
    @apply pointer-events-none! absolute start-1/2 top-3/4 z-9! ht-24 w-full -translate-x-1/2;
  }

  .pswp__image-caption {
    @apply mx-auto line-clamp-3 max-h-full w-fit max-w-4/5 rounded-md bg-(--pswp-bg) px-2 py-1 text-center text-(--pswp-icon-color) sm:max-w-2/3;
  }

  .pswp__image-mask.pswp__image-masked {
    @apply absolute size-full overflow-auto bg-(--pswp-bg) text-center text-(--pswp-icon-color);
  }

  .pswp__image-mask:not(.pswp__image-masked) {
    @apply hidden;
  }

  .pswp__image-mask-title {
    @apply absolute start-1/2 top-1/2 mb-4 max-h-full w-4/5 -translate-1/2;
  }
}
