@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

html {
  --font-locale: var(--font-google-sans-code);
}

html[lang="en-US"] {
  --font-locale: var(--font-noto-sans);
}

html[lang="zh-CN"] {
  --font-locale: var(--font-noto-sans-sc);
}

@theme inline {
  --font-app: var(--font-locale);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply mx-auto w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}

@utility ht-* {
  height: --spacing(--value(number));
}
@utility ht-auto {
  height: auto;
}
@utility ht-full {
  height: 100%;
}
@utility ht-screen {
  height: 100vw;
}
@utility ht-svh {
  height: 100svh;
}
@utility ht-dvh {
  height: 100dvh;
}
@utility ht-lvh {
  height: 100lvh;
}
@utility ht-fit {
  height: fit-content;
}
@utility ht-min {
  height: min-content;
}
@utility ht-max {
  height: max-content;
}

@utility height-do-not-use {
  width: 100vw !important;
  height: 100vh !important;
  background: red !important;
}
@utility h-* {
  @apply height-do-not-use;
}
@utility h-auto {
  @apply height-do-not-use;
}
@utility h-full {
  @apply height-do-not-use;
}
@utility h-screen {
  @apply height-do-not-use;
}
@utility h-svh {
  @apply height-do-not-use;
}
@utility h-dvh {
  @apply height-do-not-use;
}
@utility h-lvh {
  @apply height-do-not-use;
}
@utility h-fit {
  @apply height-do-not-use;
}
@utility h-min {
  @apply height-do-not-use;
}
@utility h-max {
  @apply height-do-not-use;
}

html[lang="zh-CN"] #article p,
html[lang="zh-CN"] #about p {
  @apply indent-8;
}
