@import "tailwindcss" prefix(tw);
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

@theme inline {
  --font-app: var(--font-google-sans-code);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply tw:border-border tw:outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply tw:overflow-y-scroll tw:scroll-smooth;
  }
  body {
    @apply tw:flex tw:min-h-svh tw:flex-col tw:bg-background tw:font-app tw:text-foreground tw:selection:bg-accent/75 tw:selection:text-background;
  }
  a,
  button {
    @apply tw:outline-offset-1 tw:outline-accent tw:focus-visible:no-underline tw:focus-visible:outline-2 tw:focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply tw:max-w-3xl;
}

@utility app-layout {
  @apply tw:mx-auto tw:w-full tw:max-w-app tw:px-4;
}

.active-nav {
  @apply tw:underline tw:decoration-wavy tw:decoration-2 tw:underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
